<!DOCTYPE html>
<html lang="de">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="relative">
    {{- partial "dev/dev-tools.html" . -}}
    <header>
      {{ partial "header" . }}
    </header>
    <main id="main" class="container mx-auto max-w-4xl prose lg:prose-lg bg-white">
      <div class="px-6 pt-8 pb-2">
        {{ block "main" . }}{{ end }}
      </div>
    </main>
    <footer class="bg-slate-100 shadow-inner">
      <div class="container mx-auto max-w-4xl">
        <div class="px-4 py-8">
          {{ partial "footer" . }}
        </div>
      </div>
    </footer>
  </body>
</html>
