<!DOCTYPE html>
<html lang="de">
  <head>
    {{ partial "head" . }}
  </head>
  <body class="relative">
    {{/*  {{- partial "dev/dev-tools.html" . -}}  */}}
    <header>
      {{ partial "header" . }}
    </header>
    <main id="main" class="bg-white w-full">
      <div class="container mx-auto max-w-6xl">
        <div class="px-6">
          {{ block "main" . }}{{ end }}
        </div>
      </div>
    </main>
    <footer class="bg-tertiary shadow-inner">
      <div class="container mx-auto max-w-6xl">
        <div class="px-6 py-8">
          {{ partial "footer" . }}
        </div>
      </div>
    </footer>
  </body>
</html>
