{{ define "main" }}
{{ $home := $.Site.Data.home }}
<div class="px-6 py-0 pt-2 md:pt-6 md:pb-2 lg:pt-10">
    <div class="flex flex-wrap justify-between">
        <section class="w-full lg:w-2/4">
            <div class="prose pt-4 md:pt-0">
                <h1>{{ $home.title }}</h1>
                <p class="text-lg">
                    {{ $home.introText | markdownify }}
                </p>
            </div>
            <ul class="space-y-4 py-10">
                {{ range $home.features }}
                <li>
                    <div class="flex items-start">
                        {{ partial "icons/icon" (dict
                        "name" .icon
                        "vendor" "fas"
                        "className" "w-7 h-7 flex-shrink-0 mr-4 text-secondary" )}}
                        <div>
                            <a href="{{ .link }}"><h2>{{ .title | markdownify }}</h2></a>
                            <p>{{ .descr | markdownify }}</p>
                        </div>
                    </div> 
                </li>
                {{ end }}
            </ul>
        </section>
        <div class="w-full lg:w-2/4 py-0 lg:pt-12">
            <img src="{{ $home.portrait }}" alt="Dr. Bettina Wachter" class="max-w-full h-auto mx-auto">
        </div>
    </div>
</div>
<div class="flex flex-wrap justify-center sm:py-12 lg:-ml-20">
    <div class="hidden lg:block w-2/6">
        <img src="{{ $home.haltlos }}" alt="Bild einer Pflanze" class="transform -scale-x-100">
    </div>
    <section>
        <div class="prose mx-0 lg:ml-14">
            <div class="px-6 py-12 sm:py-6 bg-tertiary sm:bg-transparent sm:border-solid sm:border-2 sm:border-tertiary rounded-none sm:rounded-lg sm:shadow-xl">
                <h1>{{ $home.secondTitle }}</h1>
                <p class="mb-0">
                    {{ $home.secondText | markdownify }}
                </p>
            </div>
            <div class="flex flex-wrap justify-center my-0 mb-2 sm:my-12 lg:my-12 gap-5">
                <a href="" class="cta flex gap-4 justify-center items-center">
                    {{ partial "icons/icon" (dict
                    "name" "phone"
                    "vendor" "fas"
                    "className" "h-8 w-8 text-white" )}}
                    <span class="whitespace-nowrap">
                        Rückruf anfordern
                    </span>
                </a>
                <a href="/anlässe/" class="opacity-60 flex items-center py-6 gap-2">
                    <span>mehr zu Anlässen erfahren</span>
                    {{ partial "icons/icon" (dict
                        "name" "chevron-right"
                        "vendor" "fas"
                        "className" "h-4 w-4" )}}
                </a>
            </div>
        </div>
    </section>
</div>

{{ end }}
