{{ define "main" }}
<section class="px-6 py-0 pt-2 md:pt-6 lg:pt-10">
    <div class="flex flex-wrap justify-between">
        <div class="w-full lg:w-2/4">
            <div class="prose">
                <h1>{{ .Params.first.title }}</h1>
                <p class="text-lg">
                    {{ .Params.first.text | markdownify }}
                </p>
            </div>
            <ul class="space-y-4 py-10">
                {{ range .Params.first.features }}
                <li>
                    <div class="flex items-start">
                        {{ partial "icons/icon" (dict
                        "name" .icon
                        "vendor" "fas"
                        "className" "w-7 h-7 flex-shrink-0 mr-4 text-secondary" )}}
                        <div>
                            <a href="{{ .link }}"><h2>{{ .title | markdownify }}</h2></a>
                            <p>{{ .descr | markdownify }}</p>
                        </div>
                    </div> 
                </li>
                {{ end }}
            </ul>
        </div>
        <div class="w-full lg:w-2/4 py-0 pt-2 lg:pt-14">
            <img src="{{ .Params.first.image }}" loading="lazy" alt="Dr. Bettina Wachter" class="max-w-full max-h-80 md:max-h-96 lg:max-h-none mx-auto object-contain" width="500" height="649">
        </div>
    </div>
</section>
<section class="flex flex-wrap justify-center lg:-ml-20">
    <div class="hidden lg:block w-2/6">
        <img src="{{ .Params.second.image }}" loading="lazy" alt="Bild einer Pflanze" class="object-contain" width="400" height="550">
    </div>
    <div class="flex h-auto items-center">
        <div class="prose mx-0 lg:ml-14 h-full flex flex-col justify-center">
            <div class="px-6 py-12 sm:py-6 bg-tertiary sm:bg-transparent sm:border-solid sm:border-2 sm:border-tertiary rounded-none sm:rounded-lg sm:shadow-lg">
                <h1>{{ .Params.second.title }}</h1>
                <p class="mb-0">
                    {{ .Params.second.text | markdownify }}
                </p>
            </div>
            <div class="flex flex-wrap justify-center mt-0 mb-2 sm:mt-12 gap-8">
                <button class="cta flex gap-4 justify-center items-center" id="cta-call-me">
                    {{ partial "icons/icon" (dict
                    "name" "phone"
                    "vendor" "fas"
                    "className" "h-6 w-6 text-white" )}}
                    <span class="whitespace-nowrap">
                        Rückruf anfordern
                    </span>
                </button>
                <a href="/anlässe/" class="opacity-60 flex items-center gap-2">
                    <span>mehr zu Anlässen erfahren</span>
                    {{ partial "icons/icon" (dict
                        "name" "chevron-right"
                        "vendor" "fas"
                        "className" "h-4 w-4" )}}
                </a>
            </div>
        </div>
    </div>
</section>
{{ partial "contact-form" . }}
{{ end }}