{{ define "main" }}
{{ $data := $.Site.Data.home }}
<article>
    <div class="flex flex-wrap justify-between py-0 pt-2 md:pt-6 md:pb-2 lg:pt-10 lg:pb-8">
        <section class="w-full md:w-2/4">
            <div class="prose pt-4 md:pt-0">
                <h1>{{ $data.title }}</h1>
                <p class="text-lg">
                    {{ $data.introText | markdownify }}
                </p>
            </div>
            <ul class="space-y-4 py-10">
                {{ range $data.features }}
                <li>
                    <div class="flex items-start">
                        {{ partial "icons/icon" (dict
                            "name" .icon
                            "vendor" "fas"
                            "className" "w-7 h-7 flex-shrink-0 mr-4 text-secondary" )}}
                        <div>
                            <a href="{{ .link }}"><h2>{{ .title | markdownify }}</h2></a>
                            <p>{{ .descr | markdownify }}</p>
                        </div>
                    </div> 
                </li>
                {{ end }}
            </ul>
        </section>
        <div class="w-full md:w-2/4 py-0 md:pt-12">
            <img src="{{ $data.portrait }}" alt="Beraterin" class="max-w-full h-auto mx-auto">
        </div>
    </div>
</article>
{{ end }}
