<section class="py-16 px-6">
  <div class="prose">
    <h1 class="mb-8">Ihr Kontakt zu uns</h1>
  </div>
  <form name="contact"
      class="grid grid-cols-1 w-full sm:grid-cols-2 lg:grid-cols-2 gap-x-12 gap-y-6">
    <div class="flex flex-col gap-y-4">
      <label>
        <span>Name*</span>
        <input type="text" name="name" placeholder="Ihr voller Name" required>
      </label>
      <label>
        <span>E-Mail</span>
        <input type="email" name="email" placeholder="Ihre geschäftliche E-Mail Adresse">
      </label>
      <label>
        <span>Telefon</span>
        <input type="text" name="telefon" placeholder="Ihre geschäftliche Telefonnummer">
      </label>
      <label class="inline-flex flex-row pt-3 xl:-ml-8">
        <input type="checkbox" name="bitte-um-rückruf">
        <span class="ml-3">Ich bitte um Rückruf</span>
      </label>
      <label class="inline-flex flex-row pt-1 xl:-ml-8">
        <input type="checkbox" name="datenschutz-akzeptiert" required>
        <span class="ml-3">
          Ich akzeptiere die Verarbeitung meiner Daten im Rahmen der
          <a href="/datenschutz" class="text-secondary">Datenschutzerklärung</a>*.
        </span>
      </label>
    </div>
    <div class="flex flex-col justify-start items-stretch">
      <input type="hidden" name="subject" data-remove-prefix
        value="[coachbar] Nachricht von %{formName} (%{submissionId})"/>
      <label class="flex-grow">
        <span>Nachricht*</span>
        <textarea rows="9" name="nachricht" class="w-auto h-full"
          placeholder="Ihre Nachricht an Coachbar Dresden" required></textarea>
      </label>
      <div class="w-auto text-center sm:text-right mt-6">
        <button type="submit">
          {{ partial "icons/icon" (dict
            "name" "paper-plane"
            "vendor" "fas"
            "className" "h-5 w-5 text-white" )}}
          <span>absenden</span>
        </button>
      </div>
    </div>
    <div id="contact-success" class="toast hidden">
      <p class="text-secondary border-secondary">
        <span class="flex-shrink-0">
          {{ partial "icons/icon" (dict
            "name" "circle-exclamation"
            "vendor" "fas"
            "className" "h-6 w-6 mr-4" )}}
        </span>
        <span class="w-64">Ihre Nachricht wurde erfolgreich verschickt.</span>
      </p>
    </div>
    <div id="contact-failure" class="toast hidden">
      <p class="text-red-900 border-red-900">
        <span class="flex-shrink-0">
          {{ partial "icons/icon" (dict
            "name" "circle-exclamation"
            "vendor" "fas"
            "className" "h-6 w-6 mr-4" )}}
        </span>
        <span class="w-72">Beim Versenden Ihrer Nachricht ist ein Fehler aufgetreten. Bitte versuchen Sie es später erneut.</span>
      </p>
    </div>
  </form>
</section>
<script>
  const handleSubmissionResult = (success) => {
    const form = document.querySelector("form[name='contact']")
    let toast;

    if (success) {
      form.querySelectorAll("input, textarea, button")
        .forEach((input) => input.disabled = true);

      toast = document.getElementById("contact-success");
    } else {
      toast = document.getElementById("contact-failure");
    }

    toast.classList.remove("hidden");
    setTimeout(() => toast.classList.add("hidden"), 5000);
  };

  const handleSubmit = (event) => {
    event.preventDefault();
  
    const form = event.target;
    const data = new FormData(form);

    fetch("/", {
      method: "POST",
      headers: { "Content-Type": "application/x-www-form-urlencoded" },
      body: new URLSearchParams(data).toString(),
    })
      .then(({ ok }) => handleSubmissionResult(ok))
      .catch((error) => {
        console.error(error);
        handleSubmissionResult(false);
      });
  };
  
  const handleCtaCallMe = () => {
    const form = document.querySelector("form[name='contact']");

    form.querySelector("input[name='bitte-um-rückruf']").setAttribute("checked", "");
    form.querySelector("input[name='telefon']").focus();
  };

  document
    .querySelector("form[name='contact']")
    .addEventListener("submit", handleSubmit);

  const ctaCallMe = document.getElementById('cta-call-me');

  if (ctaCallMe) {
    ctaCallMe.addEventListener("click", handleCtaCallMe)
  }
</script>