<div class="flex w-full flex-row flex-wrap items-center justify-center sm:justify-between gap-x-20 gap-y-4 text-center text-gray-600 prose-md">
  <ul class="flex flex-wrap items-center gap-x-8 p-0 m-0">
    <li class="p-0">
      <a href="/impressum" class="block {{ if hasPrefix .RelPermalink "/impressum" }}active{{ end }}">
        Impressum
      </a>
    </li>
    <li class="p-0">
      <a href="/datenschutz" class="block {{ if hasPrefix .RelPermalink "/datenschutz" }}active{{ end }}">
        Datenschutz
      </a>
    </li>
  </ul>
  <span>
    &copy; {{ dateFormat "2006" now }} {{ $.Site.Data.general.name }}
  </span>
</div>