<section class="hidden md:flex overflow-hidden">
  <img src="/bg-logo.png" alt="coachbar Logo" class="mx-auto" />
</section>
<nav class="relative bg-white shadow-lg md:shadow-md border-solid border-0 border-y-2 border-gray-300">
  <div class="container mx-auto max-w-4xl">
    <div class="flex flex-row justify-between items-center py-2 px-4 bg-pale-grey md:bg-white">
      <div class="group flex flex-col items-center">
        <a class="py-2 md:hidden">
          <svg fill="currentColor"
              class="h-10 fill-primary"
              viewBox="0 0 16 16">
            <path fill-rule="evenodd"
                  d="M2.5 12a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5zm0-4a.5.5 0 0 1 .5-.5h10a.5.5 0 0 1 0 1H3a.5.5 0 0 1-.5-.5z" />
          </svg>
        </a>
        <div class="hidden group-hover:block md:block absolute md:static inset-x-0 top-16 py-3 shadow-lg md:shadow-none bg-pale-grey md:bg-white">
          <div class="flex flex-col md:flex-row py-1 gap-6 px-6 md:px-2 text-lg">
            <a class="hidden md:flex flex-col md:flex-row {{ if eq .RelPermalink "/" }}active{{ end }}" href="/">
              coachbar
            </a>
            <a class="flex flex-col md:flex-row {{ if hasPrefix .RelPermalink "/anlässe" }}active{{ end }}" href="/anlässe">
              Anlässe
            </a>
            <a class="flex flex-col md:flex-row {{ if hasPrefix .RelPermalink "/philosophie" }}active{{ end }}" href="/philosophie">
              Philosophie
            </a>
            <a class="flex flex-col md:flex-row {{ if hasPrefix .RelPermalink "/praxis" }}active{{ end }}" href="/praxis">
              Praxis
            </a>
            <a class="flex flex-col md:flex-row {{ if hasPrefix .RelPermalink "/lesbar" }}active{{ end }}" href="/lesbar">
              lesbar
            </a>
          </div>
        </div>
      </div>
      <a href="/" class="block md:hidden text-primary font-bold text-base">coachbar Dresden</a>
      <div class="group flex space-x-2 md:space-x-4">
        <a class="p-3 bg-secondary rounded-md shadow-md" role="button">
          <svg fill="currentColor" stroke="currentColor" class="h-6 text-white" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M6.62 10.79c1.44 2.83 3.76 5.14 6.59 6.59l2.2-2.2c.27-.27.67-.36 1.02-.24 1.12.37 2.33.57 3.57.57.55 0 1 .45 1 1V20c0 .55-.45 1-1 1-9.39 0-17-7.61-17-17 0-.55.45-1 1-1h3.5c.55 0 1 .45 1 1 0 1.25.2 2.45.57 3.57.11.35.03.74-.25 1.02l-2.2 2.2z"></path>
          </svg>
        </a>
        <a class="p-3 bg-secondary rounded-md shadow-md" role="button">
          <svg fill="currentColor" stroke="currentColor" class="h-6 text-white" stroke-width="0" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg" aria-hidden="true">
            <path d="M20 4H4c-1.1 0-1.99.9-1.99 2L2 18c0 1.1.9 2 2 2h16c1.1 0 2-.9 2-2V6c0-1.1-.9-2-2-2zm0 4-8 5-8-5V6l8 5 8-5v2z"></path>
          </svg>
        </a>
      </div>
    </div>
  </div>
</nav>
