<section class="hidden md:flex overflow-hidden">
  <img src="/bg-logo.webp" alt="{{ $.Site.Data.infos.Unternehmen }} Logo" class="mx-auto" width="1449" height="399" />
</section>
<nav class="relative bg-white border-solid border-0 md:border-t-2 md:border-b-2 border-gray-300">
  <div class="container mx-auto max-w-6xl">
    <div class="flex flex-row justify-between items-center py-2 px-4">
      <div class="group flex flex-col items-center">
        <a href="/" onclick="event.preventDefault();" class="py-2 md:hidden opacity-100 hover:opacity-60" rel="nofollow" aria-label="Hauptmenü anzeigen">
          {{ partial "icons/icon" (dict
            "name" "bars"
            "vendor" "fas"
            "className" "h-6 w-9 fill-primary" )}}
        </a>
        <div class="hidden group-hover:block md:block absolute md:static inset-x-0 top-16 py-3 shadow-lg md:shadow-none bg-white">
          <div class="flex flex-col md:flex-row py-4 md:py-1 gap-6 px-6 md:px-2 text-lg">
            <a class="hidden md:flex flex-col md:flex-row {{ if eq .RelPermalink "/" }}active{{ end }}" href="/">
              coachbar
            </a>
            {{ $current := .RelPermalink }}
            {{ range (where .Site.RegularPages "Params.navigation" "Hauptmenü") }}
            <a class="flex flex-col md:flex-row {{ if hasPrefix $current .RelPermalink }}active{{ end }}" href="{{ .RelPermalink }}">
              {{ .Params.linkTitle }}
            </a>
            {{ end }}
          </div>
        </div>
      </div>
      <a href="/" class="block md:hidden text-primary font-bold text-lg">{{ $.Site.Data.infos.Unternehmen }}</a>
      <div class="group flex space-x-2 md:space-x-4">
        <a class="p-3 bg-secondary rounded-md shadow-md" role="button" href="mailto:{{ $.Site.Data.Mail }}" aria-label="E-Mail schreiben">
          {{ partial "icons/icon" (dict
            "name" "envelope"
            "vendor" "fas"
            "className" "h-6 w-6 text-white" )}}
        </a>
        <a class="p-3 bg-secondary rounded-md shadow-md" role="button" href="tel:{{ $.Site.Data.infos.Telefon }}" aria-label="anrufen">
          {{ partial "icons/icon" (dict
            "name" "phone"
            "vendor" "fas"
            "className" "h-6 w-6 text-white" )}}
        </a>
      </div>
    </div>
  </div>
</nav>
